@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import url(./reset.css);

:root {
    --back: hsl(233, 47%, 7%);
    --back-card: hsl(244, 38%, 16%);
    --c-white: white;
    --c-purple-t: hsl(277, 64%, 61%);
    --fnt-primaria: 'Inter';
    --fnt-secundaria: 'Lexend Deca';
}

body {
    background-color: var(--back);
    color: var(--c-white);
    font-size: 14px;
    font-family: var(--fnt-primaria);
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 28vw);
    background-color: var(--back-card);
    margin: 25vh auto 25vh auto;
    width: 56vw;
    height: 48.5vh;
    border-radius: 10px;
}

.card__left {
    display: grid;
    margin: 8vh 0;
    width: 18vw;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: repeat(2, 10vh);
}

.card__titulo {
    line-height: 1.2;
    font-size: 32px;
    font-family: var(--fnt-primaria);
    font-weight: 700;
}

b {
    color: var(--c-purple-t);
}

.card__paragrafo {
    margin-top: 1vh;
    line-height: 1.7;
    opacity: .75;
}

.card__list {
    margin-top: 7vh;
    display: grid;
    grid-template-columns: repeat(3, 13vh);
}

.list__number {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

.list__text {
    text-transform: uppercase;
    opacity: .6;
}

.card__image {
    background: url(../images/desktop.jpg);
    border-radius: 0 10px 10px 0;
}

.creditos {
    display: none;
}